/*
Theme Name: RossPlusJess
Theme URI: 
Description: 
Author: Bobby Marko & Ross Bruggink
Version: 1.1
*/
@import url('fonts/fonts.css');

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {	background: transparent; border: 0;	margin: 0;	padding: 0;	vertical-align: baseline;}
html,body { margin:0; padding:0;font:normal normal 13px/1.2 Courier, serif; color:#666C70; position: relative; background-image: url(images/bg.jpg), url(images/bg_tile.jpg); background-position: 0 135px, 0 0; background-repeat: repeat-x, repeat; background-color:#fff; min-width:940px; }
ol, ul {	list-style: none; padding:0; margin:0;}
blockquote {	quotes: none; margin:0; padding:10px 0 0 60px; font-style:italic; font-family: Georgia, serif; position: relative;}
blockquote:after {	content: '';	content: none;}
blockquote:before{content: ''; position: absolute; left:0; top:12px; background: url(images/quote.gif) no-repeat; width:53px; height:49px;}
#main ol, #main ul{padding:10px 5px 10px 20px;}
#main ol{list-style-type: decimal; list-style-position: outside;}
#main ul{list-style-type: disc; list-style-position: outside;}
del {	text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {	border-collapse: collapse;	border-spacing: 0;}
a img {	border: none;}
hr{border:none; background:#fff url(images/hr.gif) top center no-repeat; display: block; margin:30px 0 60px; padding:0; height:9px;}
a{color:#b66f01; text-decoration: underline; }
a:hover{text-decoration: none;}
p a{text-transform: none; text-decoration: underline;}
p a:hover{text-decoration: none;}
h1, h2, h3, h4, h5, h6 {font-family:"SansTitling1","Arial Black",Arial, sans-serif; font-size:23px; color:#666C70; text-align: center; clear: both; font-weight: normal; text-transform: uppercase; margin:0 0 30px; padding:10px; overflow: hidden; position: relative;}
h3{font-size:17px; font-family: Courier, serif; font-weight: normal; padding:0; margin:0 0 10px; text-transform: none;}
p{margin: 0 0 10px;}
p+h2{margin-top:30px}
input{border:1px solid #848585; background: #fff; margin:0; padding:3px; line-height: 1.2;}
textarea{margin:0;}
input:focus, textarea:focus{}
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
button::-moz-focus-inner{
	border:0;
	padding:0;
}
small{font-size:10px;}
.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft, img[align=left] {
	float: left;
	margin:0 10px 10px 0;
}
.alignright, img[align=right] {
	float: right;
	margin:0 0 10px 10px;
}
.no_right_padding{padding-right:0;margin-right:0;}
.no_left_padding{padding-left:0;margin-left:0;}
.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* optional rounded corners for browsers that support it */
	margin: 10px;
	padding-top: 4px;
	text-align: center;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/*------- layout --------------*/
#header{background:url(images/header_bg.png) repeat-x; height:154px; margin:0 0 40px; z-index: 2; position: relative;}
#masthead{width:940px; margin:0 auto; position: relative;}
#branding{position: absolute; top:10px; left:50%; margin-left:-75px;}

#site_name, #site_description{position: absolute; top:93px; right:563px; text-align:right; font-family:"SansTitling1"; letter-spacing:.2em; font-size:14px; color:#fff;}
#site_description{left:570px; right:auto; text-align: left;}

#wrapper{overflow:hidden; margin:-60px 0 0;}
#main{/*width:940px;*/ margin:0 auto; overflow: visible;}
#posts{-webkit-transition:all 400ms ease-in; -moz-transition:all 400ms ease-in; transition:all 400ms ease-in; opacity:1;}
.loading #posts{-webkit-transform:translate3d(0,-600px,0); -moz-transform:translate(0,-600px); transform:translate3d(0,-600px,0); opacity:0;}

body .page{width:800px; background: url(images/content_bg.png) top center repeat-y; margin:0 auto; z-index: 0; position: relative; }
.post_end{background: url(images/content_bottom_bg.png) top center repeat-y; width:800px; margin:0 auto 60px; height:59px; }

.page h1, body .page h2{background: #aaa url(images/background-1.jpg); color: #fff;}
.page .entry_title{padding:40px 0 25px; margin:0 11px 0 10px; }
.page .entry_title span{display: block; width:300px; height:190px; margin:0 auto; text-indent: -9999px; background:url(images/sprite.png) -13px -510px no-repeat;}
.page .entry_title:after{content:''; display:block; position: absolute; bottom:0; left:0; right:0; height:8px; background:transparent url(images/header_mask.png) bottom right repeat-x; }
.background-image-1 h1, .background-image-1 h2 {background: #aaa url(images/background-1.jpg); color: #fff;}
.background-image-2 h1, .background-image-2 h2 {background: #aaa url(images/background-2.jpg); color: #fff;}
.background-image-3 h1, .background-image-3 h2 {background: #aaa url(images/background-3.jpg); color: #fff;}
/*#home-page{margin:0 0 -180px -2500px; position: relative; left:50%; background:url(images/background-3.jpg); width:5000px; z-index: 1; padding:95px 0 180px;} */
#home-page{margin:0 0 0px 0px; position: relative; width:100%; z-index: 1; padding:0px 0 0px;height:700px;}
/*home*/
#home-page .content{width:932px; height:378px; background:url(images/welcome.jpg) -2px -1px no-repeat; margin:0 auto; padding: 0;}
#home-page .post_end{height:0;}
.content{padding:90px 90px 50px; text-align:justify;}

#footer{ position:relative; clear:both; background: url(images/footer_bg.png) repeat-x; height:110px;}
#footer_content{width:940px; margin:0 auto;}
#footer_icon{width:60px; height: 50px; margin:0 auto; background: url(images/sprite.png) -122px -9px no-repeat; position: relative; top:43px;}
.menu-main-menu-container{ padding:130px 0 80px; margin:0; background: #fff url(images/menu_bg.jpg) repeat-x;}
.menu{width:940px; margin:0 auto;}
.menu:before, .menu:after{content:""; display:table;}
.menu:after{clear:both;}
.menu li{width:301px; float:left; margin:0 18px 20px 0; background:url(images/sprite.png) -13px -78px no-repeat; text-indent: -9999px; position: relative; -webkit-transition:all 200ms ease-in-out; -moz-transition:all 200ms ease-in-out; transition:all 200ms ease-in-out; }
.menu li:hover{-webkit-transform:translate3d(0,-10px,0); -moz-transform:translate(0,-10px); transform:translate3d(0,-10px,0);}
.menu li:nth-child(3n){margin-right:0;}
.menu li a{display:block; outline:none; margin:0 auto; height:190px; background:url(images/sprite.png) -13px -510px no-repeat;}

li.post-title-2{background-position: -336px -78px}
li.post-title-2 a, .post-title-2 .entry_title span{background-position: -336px -510px}
li.post-title-3{background-position: -653px -78px}
li.post-title-3 a, .post-title-3 .entry_title span{background-position: -650px -510px}
li.post-title-4{background-position: -13px -290px}
li.post-title-4 a, .post-title-4 .entry_title span{background-position: -13px -725px}
li.post-title-5{background-position: -336px -290px}
li.post-title-5 a, .post-title-5 .entry_title span{background-position: -336px -725px}
li.post-title-6{background-position: -653px -290px}
li.post-title-6 a, .post-title-6 .entry_title span{background-position: -650px -725px}

/*body.loading:after{content:'Loading'; text-align: center; font:32px/200px "SansTitling1","Arial Black",Arial, sans-serif; color:#fff;; text-align: center; position:fixed; width:200px; height:200px; top:50%; left:50%; margin:-100px 0 0 -100px; background:url(images/grey.jpg); border-radius:200px; box-shadow:0 0 20px rgba(0,0,0,0.2);}*/
.loading_icon{display: none; position: fixed; top:10px; left:10px; z-index: 999;}
.loading .loading_icon{display:block;}

.font-dance {
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
}
.cq-hotspots .hotspot-item a {
	width: 95px !important;
	height: 95px !important;
	border: none !important;
}
#home-page {
	//background-image: url(images/background-33.jpg);
}
#home-page .content {
	background-image:url(images/welcome_4.png);
}
#footer_icon,
.menu li,
.menu li a,
.page .entry_title span {
	background-image:url(images/sprite9.png);
}
/*.tooltipster-content {
	width: 600px;
}*/